pandas==0.25.1
Unidecode==1.1.1
wordcloud==1.7.0
nltk==3.5
tqdm==4.32.1
seaborn==0.9.0
editdistance==0.5.3
requests==2.22.0
matplotlib==3.2.1
numpy==1.17.4
Scrapy==2.3.0
flair==0.5.1
beautifulsoup4==4.9.1
Pillow==7.2.0
scikit_learn==0.23.2
tqdm==4.48.2
